<%- include('./common/head.ejs') %>
    <link rel="stylesheet" href="/css/bank.css">
    </head>

    <body>

        <%- include('./common/navbar.ejs') %>
            <html lang="en">

            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="styles.css">
                <title>Bank</title>
            </head>

            <body>
                <header>
                    <h1>Welcome to My Bank</h1>
                </header>

                <main>

                    <div class="container">
                        <nav class="left-menu">
                            <a class="forum-topic <%= topic === 'account' ? 'active' : ''%>" data-topic="account"
                                href="/bank/account"
                                data-intro="Here you can see some stored XSS attack examples.">Account Details</a>
                            <a class="forum-topic <%= topic === 'playground' ? 'active' : ''%>" data-topic="play-ground"
                                href="/forum/playground"
                                data-intro="Here you can see malicious posts made by your and other students.">Playground</a>
                            <a class="forum-topic <%= topic === 'safe-space' ? 'active' : ''%>" data-topic="safe-space"
                                href="/forum/safe-space" data-intro="Here malicious posts won't work anymore!">Safe
                                Space</a>
                        </nav>

                        <div class="forum-container <%= topic %>">
                            <% if (topic==='unsafe-space' ) { %>
                                <%- include('./bank-pages/account.ejs') %>
                                    <%} else if (topic==='playground' ) {%>
                                        <%- include('./bank-pages/get-transaction.ejs') %>
                                            <%} else if (topic==='safe-space' ) {%>
                                                <%- include('./bank-pages/post-transaction.ejs') %>
                                                    <%}%>
                        </div>
                    </div>


                </main>



                <footer>
                    <p>&copy; 2023 My Bank</p>
                </footer>

                <%- include('./common/end.ejs') %>