<%- include('./common/head.ejs') %>
    <link rel="stylesheet" href="/css/bank.css">
    </head>

    <body>

        <%- include('./common/navbar.ejs') %>
            <html lang="en">

            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="styles.css">
                <title>Bank</title>
            </head>

            <body>
                <header>
                    <h1>Welcome to Dumb Bank</h1>
                </header>

                <main>
                    <div class="account-info">
                        <h2>Account Information</h2>
                        <p id="name">Account Holder: <%= name%>
                        </p>
                        <!-- <p>Account Number: XXXX-XXXX-XXXX-1234</p> -->
                        <p id="balance">Balance: $<%= balance%>
                        </p>
                    </div>
                    <div class="transaction-form">
                        <form class="form-card" id="login-form" action="/bank/transfer" method="GET">
                            <h2>Make a Transaction (GET)</h2>
                            <div class="form-control">
                                <label for="account">Account:</label>
                                <input type="text" id="amount" name="account" placeholder="Enter account username">
                            </div>
                            <div class="form-control">
                                <label for="amount">Amount:</label>
                                <input type="text" id="amount" name="amount" placeholder="Enter amount">
                            </div>
                            <button class="btn" type="submit">Submit</button>
                        </form>
                    </div>

                    <div class="transaction-form">
                        <form class="form-card" id="login-form" action="/bank/transfer" method="POST">
                            <h2>Make a Transaction (POST)</h2>
                            <div class="form-control">
                                <label for="account">Account:</label>
                                <input type="text" id="amount" name="account" placeholder="Enter account username">
                            </div>
                            <div class="form-control">
                                <label for="amount">Amount:</label>
                                <input type="text" id="amount" name="amount" placeholder="Enter amount">
                            </div>
                            <button class="btn" type="submit">Submit</button>
                        </form>
                    </div>

                </main>



                <footer>
                    <p>&copy; 2023 Dumb Bank</p>
                </footer>

                <%- include('./common/end.ejs') %>