<%- include('./common/head.ejs') %>
  <link rel="stylesheet" href="/css/forum.css">
</head>
<body>

<%- include('./common/navbar.ejs') %>
<div class="container">
  <nav class="left-menu">
    <a class="forum-topic <%= topic === 'unsafe-space' ? 'active' : ''%>" data-topic="unsafe-space" href="/forum/unsafe-space" data-intro="Here you can see some stored XSS attack examples.">Unsafe Space</a>
    <a class="forum-topic <%= topic === 'playground' ? 'active' : ''%>" data-topic="play-ground" href="/forum/playground" data-intro="Here you can see malicious posts made by your and other students.">Playground</a>
    <a class="forum-topic <%= topic === 'safe-space' ? 'active' : ''%>" data-topic="safe-space" href="/forum/safe-space" data-intro="Here malicious posts won't work anymore!">Safe Space</a>
  </nav>

  <div class="forum-container <%= topic %>">
    <% if (topic === 'unsafe-space') { %>
    <%- include('./forum-posts/unsafe-posts.ejs') %>
    <%} else if (topic === 'playground') {%>
    <%- include('./forum-posts/playground-posts.ejs') %>
    <%} else if (topic === 'safe-space') {%>
    <%- include('./forum-posts/safe-posts.ejs') %>
    <%}%>
    <form class="add-post-form" action="<%= topic === 'playground' ? '/forum/add-unsafe-post' : '/forum/add-safe-post' %>" method="POST" id="add-post-form">
      <textarea id="post-content" name="postContent" required></textarea>
      <input type="submit"/>
    </form>
  </div>
</div>
<script src="/js/forum.js" > </script>

</body>
</html>
